<footer>
  <div>
    <p>راه‌های ارتباطی</p>

    <ul>
      <li>
        <a href="#" target="_blank" title="فیسبوک">
          <icon-mingcute-facebook-fill />
        </a>
      </li>

      <li>
        <a href="#" target="_blank" title="تلگرام">
          <icon-mingcute-telegram-fill />
        </a>
      </li>

      <li>
        <a href="#" target="_blank" title="اینستاگرام">
          <icon-mingcute-instagram-fill />
        </a>
      </li>

      <li>
        <a href="#" target="_blank" title="لینکدین">
          <icon-mingcute-linkedin-fill />
        </a>
      </li>

      <li>
        <a href="#" target="_blank" title="ایکس (توییتر سابق)">
          <icon-mingcute-social-xfill />
        </a>
      </li>

      <li>
        <a href="#" target="_blank" title="یوتیوب">
          <icon-mingcute-youtube-fill />
        </a>
      </li>
    </ul>
  </div>

  <div>
    <p>دسترسی‌های سریع</p>

    <ul>
      <li><a href="#">Vision</a></li>

      <li><a href="#">Mission</a></li>

      <li><a href="#">Action</a></li>

      <li><a href="#">Dashboard</a></li>

      <li><a href="#">Option</a></li>

      <li><a href="#">Chat Bot</a></li>

      <li><a href="#">Store</a></li>
    </ul>
  </div>

  <div>
    <p>عضویت در خبرنامه</p>

    <form (ngSubmit)="formSubmitHandler()">
      <input
        name="email"
        autocomplete="on"
        type="email"
        placeholder="example@mail.com"
      />
    </form>
  </div>
</footer>
