<footer>
  <div>
    <p>راه‌های ارتباطی</p>

    <ul>
      <li *ngFor="let item of communicationWays">
        <a [href]="item.link" target="_blank" [title]="item.title">
          <ng-container *ngComponentOutlet="item.icon"></ng-container>
        </a>
      </li>
    </ul>
  </div>

  <div>
    <p>دسترسی‌های سریع</p>

    <ul>
      <li *ngFor="let item of quickAccesses">
        <a [href]="item.link">{{ item.title }}</a>
      </li>
    </ul>
  </div>

  <div>
    <p>عضویت در خبرنامه</p>

    <form (ngSubmit)="formSubmitHandler()">
      <input
        name="email"
        autocomplete="on"
        type="email"
        placeholder="example@mail.com"
      />
    </form>
  </div>
</footer>
