<header>
  <a class="logo" routerLink="/">
    <img
      ngSrc="exin.webp"
      alt="نرم افزار توسعه فردی اکسین"
      width="260"
      height="260"
      priority="1"
    />

    <p [class.show]="menu.length === 0">نرم افزار توسعه فردی اکسین</p>
  </a>

  <nav *ngIf="menu.length !== 0" [class.show]="showSideBar">
    <ul>
      <li *ngFor="let item of menu; index as _">
        <a [routerLink]="item.link" [class.active]="isActiveLink(item.link)">{{
          item.title
        }}</a>
      </li>

      <li>
        <a routerLink="/login" class="login">ورود به برنامه</a>
      </li>
    </ul>
  </nav>

  <a routerLink="/login" class="login" [class.show]="menu.length === 0"
    >ورود به برنامه</a
  >

  <button
    *ngIf="menu.length !== 0"
    (click)="toggleMenu()"
    aria-label="Toggle menu"
    [attr.aria-expanded]="showSideBar"
    title="منو"
  >
    <app-mingcute-menu-line />
  </button>
</header>
